<!doctype html>

<html>

<head>
  <link rel ="icon" href="/img/weather.png">
  <link rel="stylesheet" href ="/css/styles.css">

  <title>weather</title>
</head>

<body>
<div class="main-content">
{{>header}}
<form>
<input placeholder="Location">
<button>serch</button>

</form>
<p id = 'message-1'></p>
<p id = 'message-2'></p>

</div>



  {{>footer}}


  <script src="/js/clientSideApp.js"></script>
</body>

</html>