<!doctype html>

<html>

<head>
  <meta charset="utf-8">
    <link rel ="icon" href="/img/weather.png">
   <link rel="stylesheet" href ="./css/styles.css">
    <title>weather</title>
</head>

<body>

{{>header}}
      
        <p>it is currently {{name}}</p>

    <img src="/img/chipsili.jpg">
    {{>footer}}
</script>



</body>

</html>